{% extends "base.html" %}
{% block content %}
<div class="content container">
    <div class="input-group col-md-3">
        <input type="text" name="time-control" class="form-control" placeholder="请选择时间" readonly>
        <div class="input-group-btn">
            <!-- Buttons -->
            <button class="btn btn-success"> 开始查询</button>
        </div>
    </div>
    <div class="all" style="margin-top: 50px">
        <div class="content">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th>设备地址</th>
                    <th>处理事项</th>
                    <th>记录时间</th>
                    <th>运维人</th>
                    <th>是否当天完成</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>长沙市岳麓区枫华府第sy3-112菜鸟驿站</td>
                    <td>十二生肖机头无票</td>
                    <td>4月14日</td>
                    <td>唐宇</td>
                    <td>已完成</td>
                </tr>
                <tr>
                    <td>长沙市岳麓区枫华府第sy3-112菜鸟驿站</td>
                    <td>十二生肖机头无票</td>
                    <td>4月14日</td>
                    <td>唐宇</td>
                    <td>已完成</td>
                </tr>
                <tr>
                    <td>长沙市岳麓区枫华府第sy3-112菜鸟驿站</td>
                    <td>十二生肖机头无票</td>
                    <td>4月14日</td>
                    <td>唐宇</td>
                    <td>已完成</td>
                </tr>
                <tr>
                    <td>长沙市岳麓区枫华府第sy3-112菜鸟驿站</td>
                    <td>十二生肖机头无票</td>
                    <td>4月14日</td>
                    <td>唐宇</td>
                    <td>已完成</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='js/bootstrap-datetimepicker.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/bootstrap-datetimepicker.zh-CN.js')}}"></script>
<script>
    $("input[name='time-control']").datetimepicker({
        minView : "month", //  选择时间时，最小可以选择到那层；默认是‘hour’也可用0表示
        language : 'zh-CN', // 语言
        autoclose : true, //  true:选择时间后窗口自动关闭
        format : 'yyyy-mm-dd', // 文本框时间格式，
        todayBtn : true,
        startDate : 0 ,  // 窗口可选时间从今天开始
        endDate : new Date()   // 窗口最大时间直至今天
    })
</script>
{% endblock %}