<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--移动端禁止缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>历史记录-测试</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="icon" href="static/favicon.ico">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>
<body>
<div class="navbar navbar-default my-nav container">
    <div class="navbar-header">
        <a class="navbar-brand img-responsive" href="#">
            <img src="static/flkjlogo.png" style="height: 32px;width: 62px;" alt="Brand">
            <a style="color: #e29c00;font-family: 楷体;font-size: 20px" class="navbar-brand">余票预警</a>
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="
                #bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#" style="font-family: 华文楷体;font-size: 16px"><strong>  历史记录</strong></a></li>
            <li><a href="#" style="font-family: 华文楷体;font-size: 16px"><strong>  kadawo小工具</strong></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
            <li><a><i class="glyphicon glyphicon-time"></i> <span id="textClock">2018-05-09 16:30:12</span></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div>
<div class="content container">
    <div class="input-group col-md-3">
        <input type="text" name="time-control" class="form-control" placeholder="请选择时间" readonly>
        <div class="input-group-btn">
            <!-- Buttons -->
            <button class="btn btn-success"> 开始查询</button>
        </div>
    </div>
    <div class="all" style="margin-top: 50px">
        <div class="content">
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <th>设备地址</th>
                    <th>处理事项</th>
                    <th>记录时间</th>
                    <th>运维人</th>
                    <th>是否当天完成</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>长沙市岳麓区枫华府第sy3-112菜鸟驿站</td>
                    <td>十二生肖机头无票</td>
                    <td>4月14日</td>
                    <td>唐宇</td>
                    <td>已完成</td>
                </tr>
                <tr>
                    <td>长沙市岳麓区枫华府第sy3-112菜鸟驿站</td>
                    <td>十二生肖机头无票</td>
                    <td>4月14日</td>
                    <td>唐宇</td>
                    <td>已完成</td>
                </tr>
                <tr>
                    <td>长沙市岳麓区枫华府第sy3-112菜鸟驿站</td>
                    <td>十二生肖机头无票</td>
                    <td>4月14日</td>
                    <td>唐宇</td>
                    <td>已完成</td>
                </tr>
                <tr>
                    <td>长沙市岳麓区枫华府第sy3-112菜鸟驿站</td>
                    <td>十二生肖机头无票</td>
                    <td>4月14日</td>
                    <td>唐宇</td>
                    <td>已完成</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<script language="javascript" type="text/javascript">
    t=setInterval(function v(){clock();});
    function clock(){
        var c=new Date();
        var m=c.getMinutes();
        var s=c.getSeconds();
        var month =c.getMonth()+1;
        var date =c.getDate();
        var hours =c.getHours();
        if(m<10){
            m="0"+m;
        }
        if(s<10){
            s="0"+s;
        }
        if(month<10){
            month="0"+month
        }
        if(date<10){
            date="0"+date
        }
        if(hours<10){
            hours="0"+hours
        }
        document.getElementById("textClock").innerHTML=c.getFullYear()+'-'+month+'-'+date+' '+hours+':'+m+':'+s;
    }
</script>
<script>
    $("input[name='time-control']").datetimepicker({
        minView : "month", //  选择时间时，最小可以选择到那层；默认是‘hour’也可用0表示
        language : 'zh-CN', // 语言
        autoclose : true, //  true:选择时间后窗口自动关闭
        format : 'yyyy-mm-dd', // 文本框时间格式，
        todayBtn : true,
        startDate : 0 ,  // 窗口可选时间从今天开始
        endDate : new Date()   // 窗口最大时间直至今天
    })
</script>
</body>
</html>